@{
    ViewData["Title"] = "Squareroot Page";
}
@{
<div class="text-center">
    <h1 class="display-4">A Square root calculator</h1>
</div>
 
    <div>
<form asp-controller="Squareroot" asp-action="Sqrt" methods="POST">
    <input type="number" placeholder="First number" name = "FirstNumber"/>
    <input type="number" placeholder="Second number" name = "SecondNumber"/>

    if (@ViewBag.Math.sqrt(NumberOne) > @ViewBag.Math.sqrt(NumberTwo))
        {
           <div>
                <p>  The number @NumberOne with square root of @ViewBag.NumberOne has a higher square root than the number @NumberTwo with square root @ViewBag.NumberTwo </p>
            </div>
        }
    if (@ViewBag.Math.sqrt(NumberOne) < @ViewBag.Math.sqrt(NumberOne))
        {
           <div>
                <p>  The number @NumberTwo with square root of @ViewBag.NumberTwo has a higher square root than the number @NumberTwo with square root @ViewBag.NumberTwo </p>
            </div>
        }
    if(@ViewBag.Math.sqrt(NumberOne) = @ViewBag.Math.sqrt(NumberTwo))
        {
            <div>
                <p>  Enter another set of number, user. </p>
                 </div>
        }
    else ()
        {
            break;
        }   
            

    <button type="submit">Submit</button>  
</form>
</div>
}